/* Colors */
/* ----------------------------------------------------------*/
/* Base */
/* ----------------------------------------------------------*/
body {
  font-size: 18px;
}
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #205caa;
}
/* Layout Styles */
/* ----------------------------------------------------------*/
/* Site header */
/* Site footer */
/* Page Content styles */
/* ----------------------------------------------------------*/
/* Home styles */
/* ----------------------------------------------------------*/
/* Post styles */
/* ----------------------------------------------------------*/
/* media queries */
/* ----------------------------------------------------------*/
