<nav class="navbar navbar-default navbar-static-bottom">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-offset-2">
				<h3>Not finding what you're looking for? Let us know.</h3>
			</div>
			<div class="col-xs-12 col-md-5">
				<a class="btn btn-info" href="contact.html">Contact</a>
			</div>
		</div>
	</div>
  <div class="container">
    <div class="row">
			<div class="col-xs-12 col-md-4">
				<li>Quick Help</li>
				<li><a href="{{ site.baseurl }}/">Tutorials</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="http://www.cis.hawaii.edu/">Center for Instructional Support</a></li>
			</div>
			<div class="col-xs-12 col-md-4">
				<li>External Support</li>
				<li><a href="http://www.hawaii.edu/its/">ITS</a></li>
				<li><a href="http://www.hawaii.edu/talent">TALENT</a></li>
				<li><a href="http://www.hawaii.edu/talent/laulima_faculty.htm">Laulima Assistance</a></li>
				<li><a href="http://www.cte.hawaii.edu/">Center for Teaching Excellence</a></li>
			</div>
			<div class="col-xs-12 col-md-4">
				<li>Support Resources</li>
				<li><a href="http://guides.library.manoa.hawaii.edu/sinclairlibrary/wongav">Wong Audiovisual Center</a></li>
				<li><a href="https://dcdc.coe.hawaii.edu/support/collaborate">Web Conferencing Support Manager</a></li>
				<li><a href="https://coe.hawaii.edu/intranet/faculty-staff-support/web-editors-guide">Web Editor's Guide</a></li>
			</div>
    </div>
  </div>
</nav>

<script type="text/javascript" src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/test.js" | prepend: site.baseurl }}"></script>