<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <span><img src="{{ "/img/logos/assist-logo.png" | prepend: site.baseurl }}" alt="Assist Logo" /></span>
          <span>Assist</span>
        </a>
      </div><!-- .navbar-header -->
      <div class="row">
        <div class="col-xs-12">
          <div class="primary-header jumbotron text-center">
            <h1>Assist</h1>
            <p>Get the help you need, when you need it.</p>
            <form class="navbar-form navbar-center search" role="search">
              <div class="form-group">
                <input id="search-input" type="text" name="query" class="form-control search-box" placeholder="I need help with..." />
              </div>
            </form>
          </div>
        </div>
      </div><!-- .row -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>


