<nav class="navbar navbar-default site-header">
  <div class="container-fluid">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.pathname }}">
          <span><img src="{{ "/img/optimized/assist-logo.png" | prepend: site.pathname }}" alt="Assist Logo" /></span>
          <span>Assist</span>
        </a>
      </div><!-- .navbar-header -->

      <!-- Main Header Content -->
      <div class="row">
        <div class="col-xs-12">
          <div class="primary-header jumbotron text-center">
            <h1>Assist</h1>
            <p>Get the help you need, when you need it.</p>
            <form class="navbar-form navbar-center search" role="search">
              <div class="form-group">
                <input type="text" name="query" class="form-control search-box" placeholder="I need help with..." />
              </div>
            </form>
          </div>
        </div>
      </div><!-- .row -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
