<div class="sidebar-container">
  <ul class="sidebar-content">
    <li class="sidebar-header">
      <h1 class="side-title">Filter</h1>
    </li>

    <!-- Link back to home -->
    <li>
      <a href="{{ site.pathname }}">Home</a>
    </li>

    <!-- If any of our posts have a category variable declared, use the nested html -->
    {% if site.categories %}
      <!-- Category Tab -->
      <li>
        <a href="#categories" class="collapsed active" data-toggle="collapse" aria-expanded="false">
          Categories
          <span class="categoryjs glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
        </a>
      </li>
      <!-- List of Categories -->
      {% assign sorted_categories = site.categories | sort %}
      <ul id="categories" class="sub-menu collapse">
        <!-- For each category variable set, use nested thml -->
        {% for category in sorted_categories %}
          <li><a href="{{ category | first | downcase | prepend: "/" | prepend: site.pathname }}">{{ category | first }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- If any of our posts have a tag variable declared, use the nested html -->
    {% if site.tags %}
      <!-- Tags Tab -->
      <li>
        <a href="#tags" class="collapsed active open" data-toggle="collapse">
          Tags
          <span class="tagjs glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
        </a>
      </li>
      <!-- List of Tags -->
      {% assign sorted_tags = site.tags | sort %}
      <ul id="tags" class="sub-menu collapse">
        <!-- For each tag variable set, use nested html -->
        {% for tag in sorted_tags %}
          <li><a href="{{ tag | first | prepend: '/tag/' | prepend: site.pathname }}">{{ tag | first }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

  </ul><!-- .sidebar-content -->
</div><!-- .sidebar-container -->

{% if page.category == 'Strategies' %}
<div class="sidebar-container">
  <ul class="sidebar-content">
      <li class="sidebar-header">
        <h3 class="side-title">Table of Contents</h3>
      </li>
        <div id="toc"></div>
    </ul>
</div>
{% endif %}
