<div class="sidebar-container">
  <ul class="sidebar-content">
    <li class="sidebar-header">
      <h3 class="side-title">Support Site</h3>
    </li>
    <li>
      <a class="bold-link" href="{{ site.baseurl }}/">Home</a>
    </li>
    {% if site.categories %}
    <li class="collapsed active open" data-toggle="collapse" data-target="#categories">
      <a href="#">
        Categories
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
      </a>
    </li>
    <ul id="categories" class="sub-menu collapse">
      {% for category in site.categories %}
      <li><a href="{{ category | first | downcase | prepend: "/" | prepend: site.baseurl }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if site.tags %}
    <li class="collapsed active open" data-toggle="collapse" data-target="#tags">
      <a href="#">
        Tags
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
      </a>
    </li>
    <ul id="tags" class="sub-menu collapse">
      {% for tag in site.tags %}
      <li><a href="{{ tag | first | prepend: '/tag/' | prepend: site.baseurl }}">{{ tag | first }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

  </ul>
</div><!-- .sidebar-container -->
