/* Mixins */
/* ----------------------------------------------------------*/
@mixin Box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin Create-btn-color-states($hex) {
	color: $white;
	background-color: $hex;
	&:hover {
		color: $white;
		background-color: lighten($hex, 10%);
	}
	&:focus {
		background-color: lighten($hex, 10%);
	}
	&:active {
		color: $white;
		background-color: darken($hex, 10%);
	}
	&:visited {
		color: $white;
		background-color: darken($hex, 5%);
	}
}

@mixin Create-link-color-states($hex) {
	color: $hex;
	&:hover {
		color: saturate($hex, 10%);
	}
	&:focus {
		color: desaturate($hex, 10%);
	}
}

@mixin Box-sizing() {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin Opacity($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}

@mixin Transition($transition) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin Border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin font-smoothing() {
  // Font antialising on Mac OS X
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0 0.25em;
  }
  
  span {
    display: block;
    width: 0; height: 0;
    overflow: hidden;
  }
  
  a {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    
    &:before {
      font: 1.5em/1.75 "FontAwesome";
      @include font-smoothing();
    }

    &:after {
      content: none !important;
    }
    
    $icons: (
      twitter:  	(char: "\f099", color: #55acee),
      google:   	(char: "\f0d5", color: #dd4b39),
      facebook: 	(char: "\f09a", color: #3b5998),
      github:   	(char: "\f09b", color: #231f20),
      linkedin: 	(char: "\f0e1", color: #0977b5),
      dribbble: 	(char: "\f17d", color: #ea4c89),
      rss:      	(char: "\f09e", color: #ff6600),
      tumblr:		(char: "\f173", color: #32506d),
      pinterest:	(char: "\f0d3", color: #cb2027)
    );
    
    @each $social, $icon in $icons {
      
      &[href*="#{$social}"] {
        background-color: map-get($icon, color);
        
        &:before {
          content: map-get($icon, char);
        }
      }
      
    }
  }
  
}