/* Variables */
/* ----------------------------------------------------------*/

// Basic colors
$white: #FFF;
$black: #000;

// Neutral Colors
$neutral-gray-dark: #434343;
$neutral-gray-semi-dark: #666666;
$neutral-gray-semi-light: #999999;
$neutral-gray-light: #B7B7B7;

$cool-gray-500: #607d8b;
$cool-gray-700: #455a64;

$main-bg-color: #F4F5F9;

// Primary Colors
$green-primary-color: #8CC63E;

// Secondary Colors
$turquoise-secondary-color: #00A9A6;
$violetred-secondary-color: #ED1555;
$orange-secondary-color: #F68932;
$gray-secondary-color: #595959;
// Category Colors
$how-to-color: $turquoise-secondary-color;
$strategies-color: $violetred-secondary-color;
$troubleshooting-color: $orange-secondary-color;
$workshop-color: $gray-secondary-color;
// Font Colors
$base-text-color: $neutral-gray-dark;
