/* Colors */
/* ----------------------------------------------------------*/
/* Local Fonts */
/* ----------------------------------------------------------*/
@font-face {
  font-family: Museo Sans;
  src: url(../fonts/MuseoSans_500.otf);
}
/* Mixins */
/* ----------------------------------------------------------*/
/* Bootstrap Overrides */
/* ----------------------------------------------------------*/
a.btn-info {
  margin: 10px 0px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  background-color: #f68932;
}
a.btn-info:hover {
  color: #ffffff;
  background-color: #f8a563;
}
a.btn-info:focus {
  background-color: #f8a563;
}
a.btn-info:active {
  color: #ffffff;
  background-color: #eb6e0a;
}
.container-fluid {
  padding: 0px;
}
/* Base styling */
/* ----------------------------------------------------------*/
body {
  font-size: 16px;
  color: #434343;
  background-color: #f4f5f9;
  font-family: 'Museo Sans', sans-serif;
}
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}
.glyphicon {
  margin: 0px 10px;
}
.cd-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  -webkit-box-shadow: 4px 4px 30px #aaaaaa;
  -moz-box-shadow: 4px 4px 30px #aaaaaa;
  box-shadow: 4px 4px 30px #aaaaaa;
  overflow: hidden;
  background-color: #8cc63e;
  color: #ffffff;
  visibility: hidden;
  z-index: 1;
}
.cd-top:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  color: #ffffff;
  text-decoration: none;
}
.cd-top:visited {
  color: #ffffff;
  text-decoration: none;
}
.cd-top:focus {
  color: #ffffff;
  text-decoration: none;
}
.cd-top span {
  vertical-align: middle;
}
.cd-is-visible {
  visibility: visible;
}
.cd-fade-out {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/* _includes styles */
/* ----------------------------------------------------------*/
/* Site header (header.html) */
.site-header {
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/optimized/front-page-background.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
  border: none;
}
.site-header a.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.site-header a.navbar-brand:hover {
  color: #e6e6e6;
  text-decoration: underline;
}
.site-header p {
  font-size: 16px;
}
/* Site footer (footer.html) */
.site-footer {
  margin-bottom: 0px;
  border: none;
}
.site-footer #help-container {
  color: #ffffff;
  padding: 30px 0px;
  background-color: #607d8b;
}
.site-footer #help-container p {
  font-size: 24px;
}
.site-footer #links-container {
  padding: 30px 50px;
  background-color: #455a64;
}
.site-footer #links-container li {
  color: #8cc63e;
  list-style-type: none;
}
.site-footer #links-container li a {
  color: #ffffff;
}
.site-footer #links-container li a:hover {
  color: #90a7b2;
}
.site-footer #links-container .logo {
  width: 36px;
  height: 36px;
}
/* Site sidebar (sidebar.html) */
.sidebar-container {
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 20px #eeeeee;
  -moz-box-shadow: 4px 4px 20px #eeeeee;
  box-shadow: 4px 4px 20px #eeeeee;
}
.sidebar-container .sidebar-header {
  background-color: #455a64;
  -webkit-box-shadow: 0px 8px 15px #eeeeee;
  -moz-box-shadow: 0px 8px 15px #eeeeee;
  box-shadow: 0px 8px 15px #eeeeee;
}
.sidebar-container .sidebar-header h3.side-title {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.sidebar-container ul.sidebar-content {
  padding-left: 0px;
}
.sidebar-container ul.sidebar-content li {
  border-bottom: 1px solid #f4f5f9;
}
.sidebar-container ul.sidebar-content li a {
  display: block;
  padding: 10px 0px 10px 20px;
  font-size: 16px;
  color: #434343;
  text-decoration: none;
}
.sidebar-container ul.sidebar-content li a:hover {
  font-weight: 700;
}
.sidebar-container ul.sidebar-content ul.sub-menu {
  padding: 10px 0px 10px 20px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a {
  color: #434343;
  font-size: 16px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a:hover {
  color: #434343;
  font-weight: 700;
  background-color: #ffffff;
  border-left: 3px solid #8cc63e;
}
/* _layouts styles */
/* ----------------------------------------------------------*/
/* Primary-page layout (primary-page.html) */
.primary-header {
  background-color: transparent;
}
.primary-header .form-control {
  height: 50px;
  widtH: 600px;
}
/* Secondary-page layout (secondary-page.html) */
.secondary-header {
  background-color: transparent;
}
.secondary-header .form-control {
  height: 50px;
  widtH: 600px;
}
/* Front-page styling (index.html) */
#home {
  margin-bottom: 50px;
}
#home .post-block {
  padding: 5px 10px 20px 10px;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 20px #dedede;
  -moz-box-shadow: 4px 4px 20px #dedede;
  box-shadow: 4px 4px 20px #dedede;
}
#home .page-heading {
  font-size: 32px;
  font-weight: 700;
}
#home .page-results {
  font-size: 18px;
  font-weight: 700;
}
#home .post-cat-icon {
  height: 146px;
  display: inline-block;
  background-color: #ffffff;
}
#home .post-link {
  font-size: 26px;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
}
#home .post-link:hover {
  color: #b7b7b7;
  text-decoration: underline;
}
#home .post-link:visited {
  color: #666666;
}
#home .post-blurb {
  color: #666666;
  padding: 10px 0px;
}
#home .how-to {
  background-color: #00a9a6;
}
#home .how-to a {
  color: #ffffff;
}
#home .strategies {
  background-color: #ed1555;
}
#home .strategies a {
  color: #ffffff;
}
#home .troubleshooting {
  background-color: #f68932;
}
#home .troubleshooting a {
  color: #ffffff;
}
#home .post-details {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
  -webkit-box-shadow: 4px 4px 20px #dedede;
  -moz-box-shadow: 4px 4px 20px #dedede;
  box-shadow: 4px 4px 20px #dedede;
}
#home .fa-tags {
  color: #ffffff;
}
#home .tag-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
#home .tag-link .tag-label {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
}
#home .pager li > a {
  border-radius: 3px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #8cc63e;
}
#home .pager li > a:hover {
  color: #ffffff;
  background-color: #a3d265;
}
#home .pager li > a:focus {
  background-color: #a3d265;
}
#home .pager li > a:active {
  color: #ffffff;
  background-color: #71a130;
}
/* Search Results */
.search-results .how-to-link {
  color: #00a9a6;
}
.search-results .how-to-link:hover {
  color: #00a9a6;
}
.search-results .how-to-link:focus {
  color: #08a19e;
}
.search-results .strategies-link {
  color: #ed1555;
}
.search-results .strategies-link:hover {
  color: #fa0850;
}
.search-results .strategies-link:focus {
  color: #e0225a;
}
/* 404 Page */
#not-found-page {
  padding-bottom: 70px;
}
#not-found-page h1 {
  font-size: 72px;
}
#not-found-page .row {
  margin: 20px 0;
}
/* Single-page styling (page.html) */
.is-page h1 {
  font-weight: 700;
}
/* Single-post styling (post.html) */
.tutorial-post h1,
.tutorial-post h2,
.tutorial-post h3,
.tutorial-post h4,
.tutorial-post h5 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tutorial-post h6 {
  font-weight: 700;
}
.tutorial-post p {
  color: #666666;
}
.tutorial-post img {
  margin-top: 40px;
}
.tutorial-post ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
.tutorial-post ol li {
  position: relative;
  margin: 0 0 6px 2em;
  list-style: none;
}
.tutorial-post ol li:before {
  content: counter(li);
  counter-increment: li;
  /* Position and style number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  border-radius: 50px;
  margin-right: 8px;
  padding: 4px;
  color: #ffffff;
  background: #8cc63e;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.tutorial-post .tip-styling {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #8cc63e;
}
.tutorial-post .tip-styling a {
  color: #557a24;
}
.tutorial-post .tip-styling a:hover {
  color: #3a5318;
}
.tutorial-post .tutorial-title {
  font-weight: 700;
}
.tutorial-post .tutorial-blurb {
  color: #666666;
  margin-bottom: 20px;
  font-weight: 400;
}
.tutorial-post .tutorial-content .img-shadow {
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888;
  box-shadow: 0px 0px 10px #888888;
}
.tutorial-post .tutorial-content .img-shadow:hover {
  -webkit-box-shadow: 0px 0px 5px #888888;
  -moz-box-shadow: 0px 0px 5px #888888;
  box-shadow: 0px 0px 5px #888888;
}
/* Media Queries */
/* ----------------------------------------------------------*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* Primary-page layout (primary-page.html) */
  .primary-header {
    background-color: transparent;
  }
  .primary-header .form-control {
    height: 50px;
    widtH: 250px;
  }
  /* Secondary-page layout (secondary-page.html) */
  .secondary-header {
    background-color: transparent;
  }
  .secondary-header .form-control {
    height: 50px;
    widtH: 250px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* Primary-page layout (primary-page.html) */
  .primary-header {
    background-color: transparent;
  }
  .primary-header .form-control {
    height: 50px;
    widtH: 500px;
  }
  /* Secondary-page layout (secondary-page.html) */
  .secondary-header {
    background-color: transparent;
  }
  .secondary-header .form-control {
    height: 50px;
    widtH: 500px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* Primary-page layout (primary-page.html) */
  .primary-header {
    background-color: transparent;
  }
  .primary-header .form-control {
    height: 50px;
    widtH: 600px;
  }
  /* Secondary-page layout (secondary-page.html) */
  .secondary-header {
    background-color: transparent;
  }
  .secondary-header .form-control {
    height: 50px;
    widtH: 600px;
  }
}
