/* Colors */
/* ----------------------------------------------------------*/
/* Local Fonts */
/* ----------------------------------------------------------*/
@font-face {
  font-family: Museo Sans;
  src: url(../fonts/MuseoSans_500.otf);
}
/* Mixins */
/* ----------------------------------------------------------*/
/* Base styling */
/* ----------------------------------------------------------*/
body {
  font-size: 16px;
  color: #575757;
  background-color: #F4F5F9;
  font-family: 'Museo Sans', sans-serif;
}
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}
.highlight-orange {
  color: #f68932;
}
.highlight-violet-red {
  color: #ed1555;
}
a.btn-info {
  margin: 10px 0px;
  background-color: #f68932;
  border-radius: 3px;
  border: none;
  color: #ffffff;
}
a.btn-info:hover {
  background-color: #a0d062;
}
/* _includes styles */
/* ----------------------------------------------------------*/
/* Site header (header.html) */
#header {
  margin-bottom: 0px;
  background-color: #434343;
  border-radius: 0px;
  border: none;
}
#header a {
  color: #ffffff;
}
#header a.navbar-brand {
  font-weight: 700;
}
#header .active a {
  background-color: #666666;
}
/* Site footer (footer.html) */
#footer {
  margin-bottom: 0px;
  border: none;
}
#footer #help-container {
  color: #ffffff;
  padding: 30px 0px;
  background-color: #666666;
}
#footer #links-container {
  padding: 30px 50px;
  background-color: #434343;
}
#footer #links-container li {
  color: #ffffff;
  list-style-type: none;
}
#footer #links-container .logo {
  width: 36px;
  height: 36px;
}
/* Site sidebar (sidebar.html) */
.sidebar-container {
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 20px #eeeeee;
  -moz-box-shadow: 4px 4px 20px #eeeeee;
  box-shadow: 4px 4px 20px #eeeeee;
}
.sidebar-container h3.side-title {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.sidebar-container ul.sidebar-content {
  padding-left: 0px;
}
.sidebar-container ul.sidebar-content li {
  border-bottom: 1px solid #F4F5F9;
}
.sidebar-container ul.sidebar-content li a {
  display: block;
  padding: 10px 0px 10px 20px;
  font-size: 16px;
  color: #00a9a6;
  text-decoration: none;
}
.sidebar-container ul.sidebar-content li a:hover {
  color: #ffffff;
  background-color: #00a9a6;
}
.sidebar-container ul.sidebar-content ul.sub-menu {
  padding: 10px 0px 10px 20px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a {
  color: #575757;
  font-size: 16px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a:hover {
  color: #575757;
  font-weight: 700;
  background-color: #ffffff;
  border-left: 3px solid #00a9a6;
}
/* _layouts styles */
/* ----------------------------------------------------------*/
/* Front-page styling (index.html) */
#home {
  margin-bottom: 50px;
}
#home .page-heading {
  font-size: 48px;
  font-weight: 700;
}
#home .post-cat-icon {
  height: 146px;
  display: inline-block;
  background-color: white;
}
#home .post-link {
  color: #666666;
  font-weight: 700;
  text-decoration: none;
}
#home .post-link:hover {
  color: #b7b7b7;
  text-decoration: underline;
}
#home .post-link:visited {
  color: #666666;
}
#home .post-blurb {
  color: #666666;
  padding: 10px 0px;
}
#home .post-details {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  background-color: #ffffff;
  padding: 5px 0px 5px 0px;
  -webkit-box-shadow: 4px 4px 20px #dedede;
  -moz-box-shadow: 4px 4px 20px #dedede;
  box-shadow: 4px 4px 20px #dedede;
}
#home .tag-link:hover {
  text-decoration: none;
  border-bottom: 1px solid red;
}
#home .tag-link .tag-label {
  color: #00a9a6;
  display: inline-block;
  font-size: 14px;
}
#home .pager li > a {
  background-color: #f68932;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 15px;
}
#home .pager li > a:hover {
  background-color: #a0d062;
}
/* Single-page styling (page.html) */
.is-page h1 {
  font-weight: 700;
}
/* Single-post styling (post.html) */
.tutorial-post h1,
.tutorial-post h2,
.tutorial-post h3,
.tutorial-post h4,
.tutorial-post h5,
.tutorial-post h6 {
  font-weight: 700;
}
.tutorial-post p {
  color: #666666;
}
.tutorial-post .details {
  margin-top: 20px;
  padding: 10px 5px;
  background-color: #00a9a6;
  color: #ffffff;
  font-weight: 700;
}
.tutorial-post .tutorial-title {
  font-weight: 700;
}
.tutorial-post .tutorial-blurb {
  color: #666666;
  margin-bottom: 20px;
  font-weight: 400;
}
.tutorial-post .tutorial-content .img-shadow {
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888;
  box-shadow: 0px 0px 10px #888888;
}
.tutorial-post .tutorial-content .img-shadow:hover {
  -webkit-box-shadow: 0px 0px 5px #888888;
  -moz-box-shadow: 0px 0px 5px #888888;
  box-shadow: 0px 0px 5px #888888;
}
/* media queries */
/* ----------------------------------------------------------*/
@media (min-width: 992px) {
  ol {
    margin-top: 50px;
    padding-left: 30px;
  }
  ol li {
    margin-bottom: 50px;
  }
  ol p {
    font-weight: 400;
    vertical-align: top;
    display: block;
    width: 100%;
  }
  ol p img {
    padding-right: 0px;
    border-radius: 3px;
    display: block;
    max-width: 100%;
    height: auto;
  }
}
