/* Colors */
/* ----------------------------------------------------------*/
/* Local Fonts */
/* ----------------------------------------------------------*/
@font-face {
  font-family: Museo Sans;
  src: url(../fonts/MuseoSans_500.otf);
}
/* Mixins */
/* ----------------------------------------------------------*/
/* Bootstrap Overrides */
/* ----------------------------------------------------------*/
a.btn-info {
  margin: 10px 0px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  background-color: #ff9800;
}
a.btn-info:hover {
  color: #ffffff;
  background-color: #ffad33;
}
.container-fluid {
  padding: 0px;
}
/* Base styling */
/* ----------------------------------------------------------*/
body {
  font-size: 16px;
  color: #575757;
  background-color: #F4F5F9;
  font-family: 'Museo Sans', sans-serif;
}
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}
.glyphicon {
  margin: 0px 10px;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: red;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  /* TODO: Create mixin */
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top .cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top .cd-fade-out {
  opacity: .5;
}
/* _includes styles */
/* ----------------------------------------------------------*/
/* Site header (header.html) */
#header {
  background-color: #455a64;
  border-radius: 0px;
  border: none;
}
#header button {
  background-color: #F4F5F9;
}
#header a {
  color: #ffffff;
}
#header a.navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
/* Site footer (footer.html) */
#footer {
  margin-bottom: 0px;
  border: none;
}
#footer #help-container {
  color: #ffffff;
  padding: 30px 0px;
  background-color: #607d8b;
}
#footer #links-container {
  padding: 30px 50px;
  background-color: #455a64;
}
#footer #links-container li {
  color: #4caf50;
  list-style-type: none;
}
#footer #links-container li a {
  color: #ffffff;
}
#footer #links-container li a:hover {
  color: #78909c;
}
#footer #links-container .logo {
  width: 36px;
  height: 36px;
}
/* Site sidebar (sidebar.html) */
.sidebar-container {
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 20px #eeeeee;
  -moz-box-shadow: 4px 4px 20px #eeeeee;
  box-shadow: 4px 4px 20px #eeeeee;
}
.sidebar-container .sidebar-header {
  background-color: #455a64;
  -webkit-box-shadow: 0px 8px 15px #eeeeee;
  -moz-box-shadow: 0px 8px 15px #eeeeee;
  box-shadow: 0px 8px 15px #eeeeee;
}
.sidebar-container .sidebar-header h3.side-title {
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.sidebar-container ul.sidebar-content {
  padding-left: 0px;
}
.sidebar-container ul.sidebar-content li {
  border-bottom: 1px solid #F4F5F9;
}
.sidebar-container ul.sidebar-content li a {
  display: block;
  padding: 10px 0px 10px 20px;
  font-size: 16px;
  color: #666666;
  text-decoration: none;
}
.sidebar-container ul.sidebar-content li a:hover {
  font-weight: 700;
}
.sidebar-container ul.sidebar-content ul.sub-menu {
  padding: 10px 0px 10px 20px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a {
  color: #575757;
  font-size: 16px;
}
.sidebar-container ul.sidebar-content ul.sub-menu li a:hover {
  color: #575757;
  font-weight: 700;
  background-color: #ffffff;
  border-left: 3px solid #b4bdc1;
}
/* _layouts styles */
/* ----------------------------------------------------------*/
/* Front-page styling (index.html) */
#home {
  margin-bottom: 50px;
}
#home .post-block {
  padding: 5px 10px 20px 10px;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 20px #dedede;
  -moz-box-shadow: 4px 4px 20px #dedede;
  box-shadow: 4px 4px 20px #dedede;
}
#home .page-heading {
  font-size: 32px;
  font-weight: 700;
}
#home .page-results {
  font-size: 18px;
  font-weight: 700;
}
#home .post-cat-icon {
  height: 146px;
  display: inline-block;
  background-color: white;
}
#home .post-link {
  font-size: 26px;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
}
#home .post-link:hover {
  color: #b7b7b7;
  text-decoration: underline;
}
#home .post-link:visited {
  color: #666666;
}
#home .post-blurb {
  color: #666666;
  padding: 10px 0px;
}
#home .how-to {
  background-color: #4caf50;
}
#home .how-to a {
  color: orange;
}
#home .strategies {
  background-color: #af504c;
}
#home .strategies a {
  color: orange;
}
#home .troubleshooting {
  background-color: #504caf;
}
#home .troubleshooting a {
  color: orange;
}
#home .post-details {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
  -webkit-box-shadow: 4px 4px 20px #dedede;
  -moz-box-shadow: 4px 4px 20px #dedede;
  box-shadow: 4px 4px 20px #dedede;
}
#home .fa-tags {
  color: #e0f7fa;
}
#home .tag-link:hover {
  text-decoration: none;
  border-bottom: 1px solid red;
}
#home .tag-link .tag-label {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
}
#home .pager li > a {
  border-radius: 3px;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #4caf50;
}
#home .pager li > a:hover {
  color: #ffffff;
  background-color: #6ec071;
}
/* Single-page styling (page.html) */
.is-page h1 {
  font-weight: 700;
}
/* Single-post styling (post.html) */
.tutorial-post h1,
.tutorial-post h2,
.tutorial-post h3,
.tutorial-post h4,
.tutorial-post h5 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tutorial-post h6 {
  font-weight: 700;
}
.tutorial-post p {
  color: #666666;
}
.tutorial-post img {
  margin-top: 40px;
}
.tutorial-post ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
.tutorial-post ol li {
  position: relative;
  margin: 0 0 6px 2em;
  list-style: none;
}
.tutorial-post ol li:before {
  content: counter(li);
  counter-increment: li;
  /* Position and style number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  border-radius: 50px;
  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #00e676;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.tutorial-post code {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4db6ac;
  background-color: transparent;
}
.tutorial-post .details {
  margin-top: 20px;
  padding: 10px 5px;
  background-color: #00a9a6;
  color: #ffffff;
  font-weight: 700;
}
.tutorial-post .tutorial-title {
  font-weight: 700;
}
.tutorial-post .tutorial-blurb {
  color: #666666;
  margin-bottom: 20px;
  font-weight: 400;
}
.tutorial-post .tutorial-content .img-shadow {
  -webkit-box-shadow: 0px 0px 10px #888888;
  -moz-box-shadow: 0px 0px 10px #888888;
  box-shadow: 0px 0px 10px #888888;
}
.tutorial-post .tutorial-content .img-shadow:hover {
  -webkit-box-shadow: 0px 0px 5px #888888;
  -moz-box-shadow: 0px 0px 5px #888888;
  box-shadow: 0px 0px 5px #888888;
}
