#postcontent #template p {
  font-size: 12px;
  display: inline-block;
}
#postcontent #template p b {
  font-weight: bold;
}
#postcontent #template .tutorial-title {
  font-size: 22px;
}
#postcontent #template .tutorial-blurb {
  font-size: 18px;
}
#postcontent li {
  page-break-after: always;
  page-break-inside: avoid;
}
#postcontent img {
  width: 50%;
  height: auto;
  page-break-after: always;
  page-break-inside: avoid;
}
.sidebar-container {
  display: none;
}
