/* Colors */
/* ----------------------------------------------------------*/

/* Base */
/* ----------------------------------------------------------*/

// * {
//   margin: 0;
//   padding: 0;
// }

// html, body { height: 100%; }

body {
	padding-bottom: 186px; // Based on footer height (will need to change)
  font-size: 18px;
}

// h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a {
	color: #2a7ae2;
	text-decoration: none;
	&:hover {
		color: #000;
		text-decoration: underline;
	}
	&:visited {
		color: #205caa;
	}
}

ul {
	list-style-type: none;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */



/* Site footer */




/* Page Content styles */
/* ----------------------------------------------------------*/




/* Home styles */
/* ----------------------------------------------------------*/
#home {
	.post-meta {
		font-size: 12px;
		color: grey;
		font-weight: 400;
	}
}



/* Post styles */
/* ----------------------------------------------------------*/








/* media queries */
/* ----------------------------------------------------------*/

