/* Colors */
/* ----------------------------------------------------------*/

// Basic colors
@white: #FFF;
@black: #000;

// Neutral Colors
@neutral-gray-dark: #434343;
@neutral-gray-semi-dark: #666666;
@neutral-gray-semi-light: #999999;
@neutral-gray-light: #B7B7B7;

// Primary Colors
@green-primary-color: #8CC63E;

// Secondary Colors
@turquoise-secondary-color: #00A9A6;
@orange-secondary-color: #F68932;
@orange-seconary-color-highlight: #A0D062;
@violetred-secondary-color: #ED1555;

@link-color: #00b5e2;
@link-hover-color: #000;
@link-visited-color: #205caa;

/* Fonts */
/* ----------------------------------------------------------*/
@font-face {
	font-family: Museo Sans;
	src: url(../fonts/MuseoSans_500.otf);
}

/* Base styling */
/* ----------------------------------------------------------*/
body {
	// padding-bottom: 186px; // Based on footer height (will need to change)
  font-size: 16px;
  color: @neutral-gray-dark;
  font-family: 'Museo Sans', sans-serif;
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
}
a {
	color: @link-color;
	text-decoration: none;
	&:hover {
		color: @link-hover-color;
		text-decoration: underline;
	}
	&:visited {
		color: @link-visited-color;
	}
}
ul {
	list-style-type: none;
}
.highlight-orange {
	color: @orange-secondary-color;
}
.highlight-violet-red {
	color: @violetred-secondary-color;
}
a {
	&.btn-info {
		margin: 10px 0px;
		background-color: @orange-secondary-color;
		border-radius: 3px;
		border: none;
		color: @white;
		&:hover {
			background-color: @orange-seconary-color-highlight;
		}
	}
}




/* _includes styles */
/* ----------------------------------------------------------*/

/* Site header (header.html) */
#header {
	margin-bottom: 0px;
	background-color: @neutral-gray-dark;
	border-radius: 0px;
	border: none;
	a {
		color: @white;
		&.navbar-brand {
			font-weight: 700;
		}
	}
	.active {
		a {
			background-color: @neutral-gray-semi-dark;
		}
	}
}

/* Site footer (footer.html) */
#footer {
	margin-bottom: 0px;
	border: none;
	#help-container {
		color: @white;
		padding: 30px 0px;
		background-color: @neutral-gray-semi-dark;
	}
	#links-container {
		padding: 30px 50px;
		background-color: @neutral-gray-dark;
		li {
			color: @white;
			list-style-type: none;
		}
		.logo {
			width: 36px;
			height: 36px;
		}
	}
}

/* Site sidebar (sidebar.html) */
.sidebar-container {
	padding: 0px;
	margin: 90px 50px 0px 0px;
	background-color: @neutral-gray-semi-dark;
	a {
		color: @white;
	}
	ul {
		padding-left: 0px;
	}
	li {
		padding: 10px 25px;
	}
	.sidebar-content {
		margin-bottom: 0px;
		font-weight: 700;
		background-color: @neutral-gray-dark;
		.sub-menu {
			background-color: @neutral-gray-semi-dark;
		}
	}
}



/* _layouts styles */
/* ----------------------------------------------------------*/

/* Front-page styling (index.html) */
#home {
	margin-bottom: 50px;
	.page-heading {
		font-size: 48px;
		font-weight: 700;
	}
	.post-link {
		color: @neutral-gray-semi-dark;
		font-weight: 700;
		text-decoration: none;
		&:hover {
			color: @neutral-gray-light;
			text-decoration: underline;
		}
		&:visited {
			color: @neutral-gray-semi-dark;
		}
	}
	.post-meta {
		font-size: 12px;
		color: @neutral-gray-semi-light;
		font-weight: 400;
	}
	.post-blurb {
		color: @neutral-gray-semi-dark;
		padding: 10px 0px;
	}
	.tag-label {
		color: @turquoise-secondary-color;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 40px;
	  position: relative;
	  top: 0;
	}
	.pager {
		li > a {
			background-color: @orange-secondary-color;
			border-radius: 3px;
			color: @white;
			padding: 5px 15px;
			&:hover {
				background-color: @orange-seconary-color-highlight;
			}
		}
	}
}

/* Single-page styling (page.html) */
.is-page {
	h1 {
		font-weight: 700;
	}
}

/* Single-post styling (post.html) */
.tutorial-post {
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	p {
		color: @neutral-gray-semi-dark;
	}
	.details {
		margin-top: 20px;
		padding: 10px 5px;
		background-color: @turquoise-secondary-color;
		color: @white;
		font-weight: 700;
	}
	.tutorial-title {
		font-weight: 700;
	}
	.tutorial-blurb {
		color: @neutral-gray-semi-dark;
		margin-bottom: 20px;
		font-weight: 400;
	}
	.tutorial-content {
		ol {
			margin-top: 50px;
			padding-left: 30px;
			li {
				margin-bottom: 50px;
				padding-left: 20px;
			}
			p {
				font-weight: 400;
				vertical-align: top;
				display: inline-block;
				width: 45%;
				img {
					padding-right: 0px;
					border-radius: 3px;
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}




/* media queries */
/* ----------------------------------------------------------*/
@media (min-width: 992px) {
	ol {
		margin-top: 50px;
		padding-left: 30px;
		li {
			margin-bottom: 50px;
		}
		p {
			font-weight: 400;
			vertical-align: top;
			display: block;
			width: 100%;
			img {
				padding-right: 0px;
				border-radius: 3px;
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}
