---
layout: page
---
<div id="home">
  <div id="template">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <h1 class="page-heading">Posts in category: {{ page.type }}</h1>
      </div>
      <div class="col-xs-12 col-md-2">
        <h3 class="page-results">{{ site.categories.[page.type].size }} posts</h3>
      </div>
    </div>
  <hr />

	{% for post in site.categories.[page.type] %}
    <div class="post-block">
      <div class="row">
        <div class="col-xs-12">
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </div>
        <div class="col-xs-12">
          {% if post.blurb %}
            <p class="post-blurb">
              {{ post.blurb }}
            </p>
          {% endif %}
        </div>
      </div> <!-- .row -->
      {% if post.category == 'How-to' %}
      <div class="row post-details how-to">
      {% elsif post.category == 'Strategies' %}
      <div class="row post-details strategies">
      {% else %}
      <div class="row post-details troubleshooting">
      {% endif %}
        <div class="col-xs-12 col-md-5">
          {% if post.category %}
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          <a href="{{ post.category | prepend: '/' | prepend: site.baseurl }}" title="View all posts published in {{ post.category }}">{{ post.category }}</a>
          {% endif %}
        </div>
        <div class="col-xs-12 col-md-7 pull-right">
          {% if post.tags %}
          <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {% for tag in post.tags %}
            <a class="tag-link" href="{{ tag  | prepend: '/tag/' }}" title="View all posts tagged with {{ tag }}">
              {% if forloop.last == false %}
              <div class="tag-label">
                {{ tag | append: "," }}
              </div>
              {% else %}
              <div class="tag-label">
                {{ tag }}
              </div>
              {% endif %}
            </a>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <hr />

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<script type="text/javascript" src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/set-query.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/search.js" | prepend: site.baseurl }}" charset="utf-8"></script>
