---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar col-md-2">
        <br />
<form action="get" id="site_search">
  <label for="search_box">Search</label><input type="text" id="search_box">
  <input type="submit" value="search">
</form>

<ul id="search_results"></ul>
        <h2><u>Categories</u></h2>
        {% for post in site.posts %}
          <input type="checkbox"> {{ post.category }} <br />
        {% endfor %}
      </div>
      <div class="content col-md-offset-2">
        {{ content }}
      </div>
    </div>
  </div>

</article>
