---
layout: secondary-page
---
<div class="container tutorial-post post-container" id="home">
	<div class="row">
  	<div class="col-xs-12 col-md-9 tutorial-content container" id="postcontent">
  		<div>
	  		<div id="template">
					<header class="post-header">
						<div class="row date">
							<span class="col-xs-12 col-md-6 text-left">POSTED: {{ page.date | date: '%B %d, %Y' | upcase }}</span>
							<span class="col-xs-12 col-md-6 text-right">AUTHOR: {{ page.author  | upcase }}</span>
						</div>
				    <h1 class="tutorial-title">{{ page.title }}</h1>
				    <h3 class="tutorial-blurb">{{ page.blurb }}</h3>
				  	{% if page.category %}<p><b>In Category:</b> {{ page.category }}</p>{% endif %}
				    {% if page.tags %}<p><b>Tagged with:</b> {% for tag in page.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}</p>{% endif %}
				    {% if page.materials %}<p><b>Materials needed:</b> {{ page.materials }}</p>{% endif %}
				    <a class="btn btn-info" id="BookmarkMe" rel="sidebar" title="Add this article to your bookmarks.">Bookmark This Article</a>
		  		</header>
				</div>
			</div>
			<hr />
  			{{ content }}
  	</div>
  	<div id="modals"></div>
  </div>
</div>


<script id="dsq-count-scr" src="//coeassist.disqus.com/count.js" async></script>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//coeassist.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
