---
layout: default-no-head
---

<div class="container-fluid is-page">
	{% if page.title != "Contact" %}
		{% include secondary-header.html %}
	{% endif %}
  <div class="container">
	  <div class="row">
	    <div class="col-md-3">
	    {% include sidebar.html %}
	    </div>
	    <div class="content col-md-9">
	      {{ content }}
	    </div>
	  </div><!-- .row -->
	  <div class="row">
  	<div class="col-xs-12">
  		<div id="disqus_thread"></div>
  	</div>
  </div>
  </div>
</div><!-- .container -->

