---
layout: page
---
<h1 class="page-heading">Tutorials tagged with: "{{page.tag}}"</h1>
<hr/>
<div id="home">
  <div id="template">
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == page.tag %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">Posted {{ post.date | date: "%b %-d, %Y" }} | By {{ post.author }} in <b class="highlight-violet-red">{{ post.category }}</b></p>
        {% if post.blurb %}
          <p class="post-blurb">
            {{ post.blurb }}
          </p>
        {% endif %}

        {% if post.tags %}
          <i class="fa fa-tags"></i>
          {% for tag in post.tags %}
            <a class="tag-link" href="{{ tag | prepend: site.baseurl | prepend: '/tag/' }}">
              {% if forloop.last == false %}
                <div class="tag-label">{{ tag | append: "," }}</div>
              {% else %}
                <div class="tag-label">{{ tag }}</div>
              {% endif %}
            </a>
          {% endfor %}
        {% endif %}


        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>